<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"
</head>

<h1> OREGON TRAIL </h1>
<body>

  <p class= "w3-animate-fading"> Press Space to Continue</p>

  <img src="images/OregonTrail.jpg"class = "center">

<script src="/js/index.js"></script>
  <script src="/js/global.js"></script>


<!-- window.onload will allow you a script tag to run in an HTML file even
 if you put the script tag first. HTML reads tags in top down order -->
</body>
</html>
