<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/css/setup.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
  <p>1. Be a banker from Boston</p>
  <p>2. Be a farmer from Illinois</p>
  <p>3. Be a carpenter from Ohio</p>
  <p>4. Find out the differences between the choices</p>
  <p>press space to return to main menu</p>
    <img src="images/banker.jpeg"/>
      <img src="images/farmer.jpg"/>
        <img src="images/carpenter.jpg"/>

  <script src="/js/global.js"></script>
  <script src="/js/setup.js"></script>


</body>
</html>
