<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/css/trail.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
  <p>1. days on trail</p>
  <p>2. miles traveled</p>
  <p>3. party health status</p>
  <p>4. current weather</p>
  <p>5. current place</p>
  <p>6. current terrain</p>
  <p>7. # of party members</p>


  <img src="images/river.gif"/>
  <img src="images/field.gif"/>
  <img src="images/mountain.gif"/>

  <script src="/js/global.js"></script>
  <script src="/js/trail.js"></script>


</body>
</html>
