<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/css/trail.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>

  <div class = "trail">
    <h4>Current Profession: <span id = "profession"></span></h4>
    <h4>Current Bank Account: <span id = "money"></span></h4>
    <h4>Days in the trail: <span id = "days"></span></h4>
    <h4>Miles Traveled: <span id = "miles"></span></h4>
    <h4>Current Weather: <span id = "weather"></span></h4>
    <h4>Current Health: <span id = "health"></span></h4>
    <h4>Current Pace: <span id = "pace"></span></h4>
    <h4>Current Terrain: <span id = "terrain"></span></h4>
    <h4># of Party Members: <span id = "members"></span></h4>
  </div>

  <div id="button">
    <h2 id = "pace"> Change Pace: 1. for Steady, 2. for Strenuous, 3. for Grueling, 4. for Resting<h2>
    <h1 id ="Menu"> Main Menu (delete)<h1>
    <h1 id ="playGame"> Play Game (spacebar)<h1>
  </div>




  <!-- <img src="images/river.gif"/>
  <img src="images/mountain.gif"/> -->
  <img  src="images/field.gif" alt="field" class = "center" id = "field"/>
  <img  src="images/wagon.jpg" class = "right"/>

  <script src="/js/global.js"></script>
  <script src="/js/trail.js"></script>


</body>
</html>
