body {
}

/* img{
width: 50%

} */

h1{
  text-align: center;
  font-family: "Verdana", Verdana, sans-serif;
  color: black

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p{
  text-align: center;
  font-family: "Verdana", Verdana, sans-serif;
  color: red


}

#gameContainer{
  display:inline-block;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: : bold;
  font-family: monospace;
}

#changeText{
  text-align: center;
  
}
